<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"> 
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsGet"
                            aria-expanded="false" aria-controls="clpsGet" (click)="getDiagnosticos()">Ver Diagnósticos</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsAdd"
                            aria-expanded="false" aria-controls="clpsAdd">Añadir Diagnóstico</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsUpdate"
                            aria-expanded="false" aria-controls="clpsUpdate">Modificar Diagnóstico</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsDelete"
                            aria-expanded="false" aria-controls="clpsDelete">Eliminar Diagnóstico</button>
                    </div>
                </div>
                <div class="row">
                    <!--Ver Diagnósticos-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse show" id="clpsGet">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Diagnósticos</h4>
                                    <p class="card-category">A continuación se muestran los diagnósticos existentes</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Identificador
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Descripción
                                                </th>
                                                <th>
                                                    Síntomas
                                                </th>
                                                <th>
                                                    Tratamientos
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableData1.dataRows">
                                                    <td *ngFor="let cell of row">{{cell}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Añadir Diagnóstico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsAdd">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Añadir Diagnóstico</h4>
                                    <p class="card-category">Complete el formulario con la información del nuevo
                                        diagnóstico</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormAnadir" #diagnosticoFormAnadir="ngForm">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Identificador" type="text"
                                                        formControlName="Id" #Id>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-9">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text" formControlName="Nombre"
                                                        #Nombre>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="taDescripcionAdd">Descripción</label>
                                                    <mat-form-field class="example-full-width">
                                                        <textarea matInput class="form-control" id="taDescripcionAdd"
                                                            placeholder="Digite aqui la descripción del diagnóstico"
                                                            rows="3" formControlName="Descripcion" #Descripcion></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="slcAddSintomas">Síntomas</label>
                                                <select class="select form-control" title="Seleccione los síntomas" id="slcAddSintomas"
                                                    multiple="multiple" size="2" style="height: 100%;" formControlName="Sintomas"
                                                    #Sintomas>
                                                    <option value="Fiebre">Fiebre</option>
                                                    <option value="Dolor de Cabeza">Dolor de Cabeza</option>
                                                    <option value="Comezón">Comezón</option>
                                                    <option value="Ardor">Ardor</option>
                                                    <option value="Vista Irritada">Vista Irritada</option>
                                                    <option value="Cansancio">Cansancio</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 3%;">
                                            <div class="form-group col-md-12">
                                                <label for="slcAddTratamientos">Tratamientos</label>
                                                <select class="select form-control" title="Seleccione los tratamientos"
                                                    id="slcAddTratamientos" multiple="multiple" size="2" style="height: 100%;"
                                                    formControlName="Tratamientos" #Tratamientos>
                                                    <option value="Medicamento">Medicamento</option>
                                                    <option value="Cirugía">Cirugía</option>
                                                    <option value="Curación">Curación</option>
                                                    <option value="Sutura">Sutura</option>
                                                    <option value="Radiografía">Radiografía</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button (click)="addDiagnostico(diagnosticoFormAnadir)" style=" margin-top: 5%;"
                                            class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modificar Diagnóstico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsUpdate">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Modificar Diagnóstico</h4>
                                    <p class="card-category">Complete el formulario con la información actualizada del
                                        diagnóstico</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormModificar" #diagnosticoFormModificar="ngForm">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Identificador" type="text"
                                                        formControlName="Id" #Id>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-9">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text" formControlName="Nombre"
                                                        #Nombre>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="taDescripcionUpdate">Descripción</label>
                                                    <mat-form-field class="example-full-width">
                                                        <textarea matInput class="form-control" id="taDescripcionUpdate"
                                                            placeholder="Digite aqui la descripción del diagnóstico"
                                                            rows="3" formControlName="Descripcion" #Descripcion></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="slcUpdateSintomas">Síntomas</label>
                                                <select class="select form-control" title="Seleccione los síntomas" id="slcUpdateSintomas"
                                                    multiple="multiple" size="2" style="height: 100%;" formControlName="Sintomas"
                                                    #Sintomas>
                                                    <option value="Fiebre">Fiebre</option>
                                                    <option value="Dolor de Cabeza">Dolor de Cabeza</option>
                                                    <option value="Comezón">Comezón</option>
                                                    <option value="Ardor">Ardor</option>
                                                    <option value="Vista Irritada">Vista Irritada</option>
                                                    <option value="Cansancio">Cansancio</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 3%;">
                                            <div class="form-group col-md-12">
                                                <label for="slcUpdateTratamientos">Tratamientos</label>
                                                <select class="select form-control" title="Seleccione los tratamientos"
                                                    id="slcUpdateTratamientos" multiple="multiple" size="2" style="height: 100%;"
                                                    formControlName="Tratamientos" #Tratamientos>
                                                    <option value="Medicamento">Medicamento</option>
                                                    <option value="Cirugía">Cirugía</option>
                                                    <option value="Curación">Curación</option>
                                                    <option value="Sutura">Sutura</option>
                                                    <option value="Radiografía">Radiografía</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button (click)="updateDiagnostico(diagnosticoFormModificar)"
                                            style="margin-top: 5%" class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Eliminar Diagnóstico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsDelete">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Eliminar Diagnóstico</h4>
                                    <p class="card-category">Indique el identificador del diagnóstico que desea
                                        eliminar</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormEliminar" #diagnosticoFormEliminar="ngForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Identificador de diagnóstico" type="text"
                                                        formControlName="Id" #Id>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button (click)="deleteDiagnostico(diagnosticoFormEliminar)"
                                            class="btn btn-danger pull-right">Eliminar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>