<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsGet"
                            aria-expanded="false" aria-controls="clpsGet">Ver Diagnósticos</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsAdd"
                            aria-expanded="false" aria-controls="clpsAdd">Añadir Diagnóstico</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsUpdate"
                            aria-expanded="false" aria-controls="clpsUpdate">Modificar Diagnóstico</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsDelete"
                            aria-expanded="false" aria-controls="clpsDelete">Eliminar Diagnóstico</button>
                    </div>
                </div>
                <div class="row">
                    <!--Ver Diagnósticos-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse show" id="clpsGet">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Diagnósticos</h4>
                                    <p class="card-category">A continuación se muestran los diagnósticos existentes</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Identificador
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Descripción
                                                </th>
                                                <th>
                                                    Síntomas
                                                </th>
                                                <th>
                                                    Tratamientos
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        Dakota Rice
                                                    </td>
                                                    <td>
                                                        Niger
                                                    </td>
                                                    <td>
                                                        Oud-Turnhout
                                                    </td>
                                                    <td>
                                                        $36,738
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        Minerva Hooper
                                                    </td>
                                                    <td>
                                                        Curaçao
                                                    </td>
                                                    <td>
                                                        Sinaai-Waas
                                                    </td>
                                                    <td>
                                                        $23,789
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                        Sage Rodriguez
                                                    </td>
                                                    <td>
                                                        Netherlands
                                                    </td>
                                                    <td>
                                                        Baileux
                                                    </td>
                                                    <td>
                                                        $56,142
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>
                                                        Philip Chaney
                                                    </td>
                                                    <td>
                                                        Korea, South
                                                    </td>
                                                    <td>
                                                        Overland Park
                                                    </td>
                                                    <td>
                                                        $38,735
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Doris Greene
                                                    </td>
                                                    <td>
                                                        Malawi
                                                    </td>
                                                    <td>
                                                        Feldkirchen in Kärnten
                                                    </td>
                                                    <td>
                                                        $63,542
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6
                                                    </td>
                                                    <td>
                                                        Mason Porter
                                                    </td>
                                                    <td>
                                                        Chile
                                                    </td>
                                                    <td>
                                                        Gloucester
                                                    </td>
                                                    <td>
                                                        $78,615
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Añadir Diagnóstico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsAdd">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Añadir Diagnóstico</h4>
                                    <p class="card-category">Complete el formulario con la información del nuevo
                                        diagnóstico</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Identificador" type="text" formControlName="Id" #Id>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-9">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text" formControlName="Nombre" #Nombre>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="taDescripcionAdd">Descripción</label>
                                                    <mat-form-field class="example-full-width">
                                                        <textarea matInput class="form-control" id="taDescripcionAdd"
                                                            placeholder="Digite aqui la descripción del diagnóstico"
                                                            rows="3" formControlName="Descripcion" #Descripcion></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="slcAddSintomas">Síntomas</label>
                                                <select class="select form-control" title="Seleccione los síntomas" id="slcAddSintomas" formControlName="Sintomas" #Sintomas
                                                    multiple="multiple" size="2" style="height: 100%;">
                                                    <option>Fiebre</option>
                                                    <option>Comezón</option>
                                                    <option>Ardor</option>
                                                    <option>Vista Irritada</option>
                                                    <option>Cansancio</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 3%;">
                                            <div class="form-group col-md-12">
                                                <label for="slcAddTratamientos">Tratamientos</label>
                                                <select class="select form-control" title="Seleccione los tratamientos"
                                                    id="slcAddTratamientos" multiple="multiple" size="2" style="height: 100%;" formControlName="Tratamientos" #Tratamientos >
                                                    <option>Medicamento</option>
                                                    <option>Cirugía</option>
                                                    <option>Curación</option>
                                                    <option>Sutura</option>
                                                    <option>Radiografía</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" style=" margin-top: 5%;" class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modificar Diagnóstico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsUpdate">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Modificar Diagnóstico</h4>
                                    <p class="card-category">Complete el formulario con la información actualizada del
                                        diagnóstico</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Identificador" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-9">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="taDescripcionUpdate">Descripción</label>
                                                    <mat-form-field class="example-full-width">
                                                        <textarea matInput class="form-control" id="taDescripcionUpdate"
                                                            placeholder="Digite aqui la descripción del diagnóstico"
                                                            rows="3"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="slcUpdateSintomas">Síntomas</label>
                                                <select class="select form-control" title="Seleccione los síntomas" id="slcUpdateSintomas"
                                                    multiple="multiple" size="2" style="height: 100%;">
                                                    <option>Fiebre</option>
                                                    <option>Comezón</option>
                                                    <option>Ardor</option>
                                                    <option>Vista Irritada</option>
                                                    <option>Cansancio</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style=" margin-top: 3%;">
                                            <div class="form-group col-md-12">
                                                <label for="slcUpdateTratamientos">Tratamientos</label>
                                                <select class="select form-control" title="Seleccione los tratamientos"
                                                    id="slcUpdateTratamientos" multiple="multiple" size="2" style="height: 100%;">
                                                    <option>Medicamento</option>
                                                    <option>Cirugía</option>
                                                    <option>Curación</option>
                                                    <option>Sutura</option>
                                                    <option>Radiografía</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" style="margin-top: 5%" class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Eliminar Diagnóstico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsDelete">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Eliminar Diagnóstico</h4>
                                    <p class="card-category">Indique el identificador del diagnóstico que desea
                                        eliminar</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Identificador de diagnóstico" type="text">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Eliminar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>