<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6" style="margin-left: 15%; float: none;">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <img src="../../assets/img/HealthyTec-Logo.png" alt="E-Bidge" height="40" width="40"
                                    style="display: inline-block; margin-right: 1rem;">
                                <h4 class="card-title" style="display: inline-block">Ingreso al Sistema HealthyTec</h4>
                                <p class="card-category">Digite su nombre de usuario y contraseña para ingresar</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Usuario" type="text" #User>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Contraseña" type="password" #Pass>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-center" style="margin: 0 auto; float: none;">
                                            <button type="submit" (click)="login(User.value, Pass.value)" class="btn btn-danger btn-fill btn-wd">Ingresar</button>
                                            <a routerLink="../registro/"><button type="button" class="btn btn-danger">Registrarse</button></a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>