<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6" style="margin: 0 auto; float: none;">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsAdd"
                            aria-expanded="false" aria-controls="clpsAdd">Atender Cita</button>
                    </div>
                </div>
                <div class="row">
                    <!--Atender Cita-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsAdd">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Atender Cita</h4>
                                    <p class="card-category">Complete el formulario con la información de la cita que
                                        desea atender</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field color="danger" class="example-full-width">
                                                    <input matInput placeholder="Identificador de la cita" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field color="danger" class="example-full-width">
                                                    <input matInput placeholder="Cédula del paciente" type="number">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Diagnósticos</label>
                                                <select class="form-control">
                                                    <option value="" disabled selected>Seleccione el diagnóstico</option>
                                                    <option>Aqui se debe hacer un get de los diagnosticos existentes</option>
                                                    <option>Aqui se debe hacer un get de los diagnosticos existentes</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="slcAddSintomas">Tratamientos</label>
                                                <select class="select form-control" title="Seleccione los tratamientos" id="slcAddSintomas"
                                                    multiple="multiple" size="2" style="height: 100%;">
                                                    <option>Aqui se deben cargar los tratamientos que contine el diagnostico seleccionado anteriormente</option>
                                                    <option>Aqui se deben cargar los tratamientos que contine el diagnostico seleccionado anteriormente</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" style="margin-top: 3%;" class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>