<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsGet"
                            aria-expanded="false" aria-controls="clpsGet">Ver Centros</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsAdd"
                            aria-expanded="false" aria-controls="clpsAdd">Añadir Centro</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsUpdate"
                            aria-expanded="false" aria-controls="clpsUpdate">Modificar Centro</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsDelete"
                            aria-expanded="false" aria-controls="clpsDelete">Eliminar Centro</button>
                    </div>
                </div>
                <div class="row">
                    <!--Ver Centros Médicos-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse show" id="clpsGet">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title ">Centros Médicos</h4>
                                    <p class="card-category">A continuación se muestran los centros médicos existentes</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Código
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Capacidad Máxima
                                                </th>
                                                <th>
                                                    Ubicación
                                                </th>
                                                <th>
                                                    Tipo
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1234
                                                    </td>
                                                    <td>
                                                        Hospital San Jose
                                                    </td>
                                                    <td>
                                                        Oriental
                                                    </td>
                                                    <td>
                                                        20000
                                                    </td>
                                                    <td>
                                                        Hospital
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Añadir Centro Médico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsAdd">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Añadir Centro Médico</h4>
                                    <p class="card-category">Complete el formulario con la información del nuevo centro
                                        médico</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormAnadir" #centroAnadirForm="ngForm">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Código del centro" type="text"
                                                        formControlName="CodigoCentro" #CodigoCentro>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-9">
                                                <mat-form-field color="danger" class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text" formControlName="Nombre"
                                                        #Nombre>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Capacidad máxima de pacientes" type="text"
                                                        formControlName="Capacidad" #Capacidad>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-9">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Ubicación" type="text" formControlName="Lugar"
                                                        #Lugar>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label>Tipo de centro médico</label>
                                                <select class="form-control" formControlName="TipoCentro" #TipoCentro>
                                                    <option value="" disabled selected>Seleccione el tipo de centro</option>
                                                    <option value="Hospital" selected>Hospital</option>
                                                    <option value="Clínica">Clínica</option>
                                                    <option value="EBAIS">EBAIS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" (click)="addCentro(centroAnadirForm)" class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modificar Centro Médico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsUpdate">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Modificar Centro Médico</h4>
                                    <p class="card-category">Complete el formulario con la información actualizada del
                                        centro
                                        médico correspondiente</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormModificar" #centroModificarForm="ngForm">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Código del centro" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-9">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Capacidad máxima de pacientes" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-9">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Ubicación" type="text">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label>Tipo de centro médico</label>
                                                <select class="form-control">
                                                    <option value="" disabled selected>Seleccione el tipo de centro</option>
                                                    <option value="Hospital">Hospital</option>
                                                    <option value="Clínica">Clínica</option>
                                                    <option value="EBAIS">EBAIS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" (click)= "addcentro(centroModificarForm)" class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Eliminar Centro Médico-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsDelete">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Eliminar Centro Médico</h4>
                                    <p class="card-category">Indique el código del centro médico que desea eliminar</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormEliminar" #centroEliminarForm="ngForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Código del centro" type="text">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" (click)="centroEliminarForm" class="btn btn-danger pull-right">Eliminar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>