<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsTratamientos"
                            aria-expanded="false" aria-controls="clpsTratamientos">Reporte Tratamientos</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsDiagnosticos"
                            aria-expanded="false" aria-controls="clpsDiagnosticos">Reporte Diagnósticos</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsEnfermedades"
                            aria-expanded="false" aria-controls="clpsEnfermedades">Reporte Enfermedades</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsCitas"
                            aria-expanded="false" aria-controls="clpsCitas">Reporte Citas</button>
                    </div>
                </div>
                <div class="row">
                    <!--Reporte Tratamientos-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsTratamientos">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Tratamientos Asignados</h4>
                                    <p class="card-category">A continuación se muestra la información correspondiente a
                                        los tratamientos asignados</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Tipo de Tratamiento
                                                </th>
                                                <th>
                                                    Cantidad de Veces Asignado
                                                </th>
                                                <th>
                                                    Monto Promedio
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        Dakota Rice
                                                    </td>
                                                    <td>
                                                        Niger
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        Minerva Hooper
                                                    </td>
                                                    <td>
                                                        Curaçao
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                        Sage Rodriguez
                                                    </td>
                                                    <td>
                                                        Netherlands
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>
                                                        Philip Chaney
                                                    </td>
                                                    <td>
                                                        Korea, South
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Doris Greene
                                                    </td>
                                                    <td>
                                                        Malawi
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6
                                                    </td>
                                                    <td>
                                                        Mason Porter
                                                    </td>
                                                    <td>
                                                        Chile
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Reporte Diagnósticos-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsDiagnosticos">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Rango de Diagnósticos</h4>
                                    <p class="card-category">A continuación se muestra la información correspondiente
                                        al rango de diagnósticos asignados a cada paciente</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Paciente
                                                </th>
                                                <th>
                                                    Rango de Diagnósticos
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        Dakota Rice
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        Minerva Hooper
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                        Sage Rodriguez
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>
                                                        Philip Chaney
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Doris Greene
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6
                                                    </td>
                                                    <td>
                                                        Mason Porter
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Reporte Enfermedades-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsEnfermedades">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Enfermedades más Dignosticadas</h4>
                                    <p class="card-category">A continuación se muestran las enfermedades más
                                        diagnosticadas</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Enfermedad
                                                </th>
                                                <th>
                                                    Cantidad de Veces Diagnosticada
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        Dakota Rice
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        Minerva Hooper
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>
                                                        Sage Rodriguez
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>
                                                        Philip Chaney
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Doris Greene
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6
                                                    </td>
                                                    <td>
                                                        Mason Porter
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Reporte Citas-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsCitas">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title ">Cantidad de Citas</h4>
                                    <p class="card-category">A continuación se muestran la cantidad de citas
                                        registradas y los pacientes con más citas</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Cantidad de Citas Registradas: </label>
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Debe filtrar para mostrar la información"
                                                    type="text" disabled>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse"
                                                data-target="#clpsFilter" aria-expanded="false" aria-controls="clpsFilter">Filtrar</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse"
                                                data-target="#clpsPacientes" aria-expanded="false" aria-controls="clpsPacientes">Ver
                                                Pacientes con más Citas en el Sistema</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="collapse col-md-12" id="clpsFilter">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Filtrar por Paciente</label>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput (click)="setFilter('fechas')" placeholder="Cédula del paciente"
                                                            type="text">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Filtrar por Fechas</label>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput (click)="setFilter('fechas')" placeholder="dd,mm,aaaa/dd,mm,aaaa"
                                                            type="text">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Filtrar por Estado</label>
                                                    <select class="form-control" (click)="setFilter('estado')">
                                                        <option value="" disabled selected>Seleccione el estado</option>
                                                        <option value="Registrada">Registrada</option>
                                                        <option value="Cancelada por el paciente">Cancelada por el
                                                            paciente</option>
                                                        <option value="Cancelada por centro médico">Cancelada por
                                                            centro médico</option>
                                                        <option value="Asignada">Asignada</option>
                                                        <option value="Realizada">Realizada</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Filtrar por Área</label>
                                                    <select class="form-control" (click)="setFilter('area')">
                                                        <option value="" disabled selected>Seleccione el área</option>
                                                        <option>Administrativa</option>
                                                        <option>Emergencias</option>
                                                        <option>Ginecología</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button class="btn btn-danger" type="button" (click)="prueba();">Aceptar</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="collapse col-md-12" id="clpsPacientes">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-danger">
                                                        <th>
                                                            Paciente
                                                        </th>
                                                        <th>
                                                            Cantidad de Citas
                                                        </th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                1
                                                            </td>
                                                            <td>
                                                                Dakota Rice
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                2
                                                            </td>
                                                            <td>
                                                                Yay Irin
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                3
                                                            </td>
                                                            <td>
                                                                Sage Rodriguez
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>