<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsTratamientos"
                            aria-expanded="false" aria-controls="clpsTratamientos" (click)="getReporteTratamientos()">Reporte
                            Tratamientos</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsDiagnosticos"
                            aria-expanded="false" aria-controls="clpsDiagnosticos" (click)="getReporteDiagnosticos()">Reporte
                            Diagnósticos</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsEnfermedades"
                            aria-expanded="false" aria-controls="clpsEnfermedades" (click)="getReporteEnfermedades()">Reporte
                            Enfermedades</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsCitas"
                            aria-expanded="false" aria-controls="clpsCitas">Reporte Citas</button>
                    </div>
                </div>
                <div class="row">
                    <!--Reporte Tratamientos-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsTratamientos">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Tratamientos Asignados</h4>
                                    <p class="card-category">A continuación se muestra la información correspondiente a
                                        los tratamientos asignados</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Tipo de Tratamiento
                                                </th>
                                                <th>
                                                    Cantidad de Veces Asignado
                                                </th>
                                                <th>
                                                    Monto Promedio
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableDataTratamientos.dataRows">
                                                    <td *ngFor="let cell of row">{{cell}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Reporte Diagnósticos-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsDiagnosticos">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Rango de Diagnósticos</h4>
                                    <p class="card-category">A continuación se muestra la información correspondiente
                                        al rango de diagnósticos asignados a cada paciente</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Paciente
                                                </th>
                                                <th>
                                                    Rango de Diagnósticos
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableDataDiagnosticos.dataRows">
                                                    <td *ngFor="let cell of row">{{cell}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Reporte Enfermedades-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsEnfermedades">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Enfermedades más Dignosticadas</h4>
                                    <p class="card-category">A continuación se muestran las enfermedades más
                                        diagnosticadas</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Enfermedad
                                                </th>
                                                <th>
                                                    Cantidad de Veces Diagnosticada
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableDataEnfermedades.dataRows">
                                                    <td *ngFor="let cell of row">{{cell}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Reporte Citas-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsCitas">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title ">Cantidad de Citas</h4>
                                    <p class="card-category">A continuación se muestran la cantidad de citas
                                        registradas y los pacientes con más citas</p>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form [formGroup]="createFormAnadir" #cantidadAnadirForm="ngForm">
                                                <label>Cantidad de Citas Registradas: </label>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Debe filtrar para mostrar la información"
                                                        type="text" formControlName="Cantidad" disabled>
                                                </mat-form-field>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse"
                                                data-target="#clpsFilter" aria-expanded="false" aria-controls="clpsFilter">Filtrar</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse"
                                                data-target="#clpsPacientes" aria-expanded="false" aria-controls="clpsPacientes"
                                                (click)="getTresPacientes()">Ver
                                                Pacientes con más Citas en el Sistema</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="collapse col-md-12" id="clpsFilter">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Filtrar por Paciente</label>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput (click)="setFilter('cedula')" placeholder="Cédula del paciente"
                                                            type="text" #filtroCedula>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Filtrar por Fechas</label>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput (click)="setFilter('fechas')" placeholder="dd,mm,aaaa/dd,mm,aaaa"
                                                            type="text" #filtroFechas>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Filtrar por Estado</label>
                                                    <select class="form-control" (click)="setFilter('estado')" #filtroEstado>
                                                        <option value="" disabled selected>Seleccione el estado</option>
                                                        <option value="Registrada">Registrada</option>
                                                        <option value="CanceladaPorPaciente">Cancelada por el
                                                            paciente</option>
                                                        <option value="CanceladaPorCentroMedico">Cancelada por
                                                            centro médico</option>
                                                        <option value="Asignada">Asignada</option>
                                                        <option value="Realizada">Realizada</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Filtrar por Área</label>
                                                    <select class="form-control" (click)="setFilter('area')" #filtroArea>
                                                        <option value="" disabled selected>Seleccione el área</option>
                                                        <option>Administrativa</option>
                                                        <option>Emergencias</option>
                                                        <option>Ginecología</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button class="btn btn-danger" type="button" (click)="filtrar(filtroFechas.value, filtroEstado.value, filtroArea.value, filtroCedula.value);" >Aceptar</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="collapse col-md-12" id="clpsPacientes">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-danger">
                                                        <th>
                                                            Paciente
                                                        </th>
                                                        <th>
                                                            Cantidad de Citas
                                                        </th>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let row of tableDataPacientes.dataRows">
                                                            <td *ngFor="let cell of row">{{cell}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>