<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10" style="margin: 0 auto; float: none;">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title" style="display: inline-block">Registro de Pacientes</h4>
                                <p class="card-category">Complete el formulario con la información que se le solicita</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                     <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                 <input matInput placeholder="Cedula" type="number" formControlName = "Cedula" #Cedula>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Nombre" type="text" formControlName = "Nombre" #Nombre>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Primer Apellido" type="text" formControlName = "Apellido1" #Apellido1>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Segundo Apellido" type="text" formControlName = "Apellido2" #Apellido2>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder=" Codigo Usuario" type="text" formControlName = "CodigoUsuario" #CodigoUsuario>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Contraseña" type="password" formControlName = "Password" #Password>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label>Tipo de Sangre</label>
                                            <select class="form-control" id="slcTipo" formControlName = "TipoSangre" #TipoSangre>
                                                <option selected>A+</option>
                                                <option>A-</option>
                                                <option>B+</option>
                                                <option>B-</option>
                                                <option>AB+</option>
                                                <option>AB-</option>
                                                <option>O+</option>
                                                <option>O-</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Fecha de Nacimiento" type="date" formControlName = "FechaNacimiento" #FechaNacimiento>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Nacionalidad" type="text" formControlName = "Nacionalidad" #Nacionalidad>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Lugar de Residencia" type="text" formControlName = "Ubicacion" #Ubicacion>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Teléfonos" type="text" formControlName = "Telefonos" #Telefonos >
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <a routerLink="../login/"><button type="button" class="btn btn-danger pull-right">Aceptar</button></a>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>