<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" (click)="getFuncionarios()" type="button" data-toggle="collapse" data-target="#clpsGet"
                            aria-expanded="false" aria-controls="clpsGet">Ver Funcionarios</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsAdd"
                            aria-expanded="false" aria-controls="clpsAdd">Añadir Funcionario</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsUpdate"
                            aria-expanded="false" aria-controls="clpsUpdate">Modificar Funcionario</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger col-md-12" type="button" data-toggle="collapse" data-target="#clpsDelete"
                            aria-expanded="false" aria-controls="clpsDelete">Eliminar Funcionario</button>
                    </div>
                </div>
                <div class="row">
                    <!--Ver Funcionarios-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsGet">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Funcionarios</h4>
                                    <p class="card-category">A continuación se muestran los funcionarios existentes</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-danger">
                                                <th>
                                                    Cédula
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Primer Apellido
                                                </th>
                                                <th>
                                                    Segundo Apellido
                                                </th>
                                                <th>
                                                    Tipo
                                                </th>
                                                <th>
                                                    Fecha de Ingreso
                                                </th>
                                                <th>
                                                    Área
                                                </th> 
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of tableData1.dataRows">
                                                    <td  *ngFor="let cell of row">{{cell}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Añadir Funcionarios-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsAdd">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Añadir Funcionario</h4>
                                    <p class="card-category">Complete el formulario con la información del nuevo funcionario</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormAnadir" #funcionarioFormAnadir = "ngForm">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text" #Nombreadd>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Primer Apellido" type="text"  #Apellido1add>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Segundo Apellido" type="text"  #Apellido2add>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Cédula" type="number" formControlName="Cedula" #Cedula>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Fecha de Ingreso" type="date" formControlName="FechaIngreso" #FechaIngreso>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label>Tipo de funcionario</label>
                                                <select class="form-control" id="slcTipo" formControlName="TipoFuncionario" #TipoFuncionario>
                                                    <option value="Doctor" selected>Doctor(a)</option>
                                                    <option value="Enfermero">Enfermero(a)</option>
                                                    <option value="Secretario">Secretario(a)</option>
                                                </select>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label>Área de trabajo</label>
                                                <select class="form-control" id="slcArea" formControlName="AreaTrabajo" #AreaTrabajo>
                                                    <option value="Administrativa"selected>Administrativa</option>
                                                    <option value="Emergencias">Emergencias</option>
                                                    <option value="Ginecología">Ginecología</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button (click)="addFuncionario(funcionarioFormAnadir, Nombreadd.value, Apellido1add.value, Apellido2add.value)" class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modificar Funcionario-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsUpdate">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Modificar Funcionario</h4>
                                    <p class="card-category">Complete el formulario con la información actualizada del funcionario</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormModificar" #funcionarioFormModificar = "ngForm">
                                        <div class="row">
                                            
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Nombre" type="text" #Nombre>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Primer Apellido" type="text" #Apellido1>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Segundo Apellido" type="text" #Apellido2>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Cédula" type="text" formControlName="Cedula" #Cedula>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Fecha de Ingreso" type="date" formControlName="FechaIngreso" #FechaIngreso>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label>Tipo de funcionario</label>
                                                <select class="form-control" id="slcTipo" formControlName="TipoFuncionario" #TipoFuncionario>
                                                    <option value="Doctor" selected>Doctor(a)</option>
                                                    <option value="Enfermero">Enfermero(a)</option>
                                                    <option value="Secretario">Secretario(a)</option>
                                                </select>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label>Área de trabajo</label>
                                                <select class="form-control" id="slcArea" formControlName="AreaTrabajo" #AreaTrabajo>
                                                    <option value="Administrativa" selected>Administrativa</option>
                                                    <option value="Emergencias">Emergencias</option>
                                                    <option value="Ginecología">Ginecología</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button mat-raised-button (click)="updateFuncionario(funcionarioFormModificar, Nombre.value, Apellido1.value, Apellido2.value)" class="btn btn-danger pull-right">Aceptar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Eliminar Funcionario-->
                    <div class="col-md-12">
                        <div class="collapse multi-collapse" id="clpsDelete">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Eliminar Funcionario</h4>
                                    <p class="card-category">Indique la cédula del funcionario que desea eliminar</p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="createFormEliminar" #funcionarioFormEliminar = "ngForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Cédula del funcionario" type="text" formControlName="Cedula" #Cedula>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button (click)="deleteFuncionario(funcionarioFormEliminar)" class="btn btn-danger pull-right">Eliminar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>